#upper{
    
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 30px;
    *{
        padding: 10px;
        border-radius: 3px;
        border: 1px solid black;
    }
    input{
        box-shadow: 0px 0px 2px 0px black inset;

        width: 40%;
        border-radius: 3px;
        border: 0px solid black;
    }
}

#main{
    align-items: center;
    justify-content: center;
    place-items: center;
    display: grid;
    column-gap: 0px;
    grid-template-columns: repeat(auto-fit,400px);
    div{
        height: 400px;
        position: relative;
        width: 400px;
        img{
            height: 100%;
            width: 100%;
        }
        div{
            opacity: 60%;
            background-color: black;
            height: 100%;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            position:absolute;
            color: white;
            font-weight: bolder;
           
            p{
                margin: 20px;
            }

            button{
                opacity: 100%;
                background-color: #fff;
                padding: 20px;
                background: url(download.png);
            }
        }
        &:hover div{
            visibility: visible;
        }
    }
}